:root {
    /*--Base Colors--*/

    /*Blue*/

    --bg-blue: hsl(240, 94%, 57%);
    --bg-blue-hue-60: hsl(240, 94%, 60%);
    --bg-blue-hue-65: hsl(240, 94%, 65%);
    --bg-blue-hue-70: hsl(240, 94%, 70%);
    --bg-blue-hue-75: hsl(240, 94%, 75%);
    --bg-blue-hue-80: hsl(240, 94%, 80%);
    --bg-blue-hue-85: hsl(240, 94%, 85%);


    /*Red*/

    --bg-red: hsl(351, 84%, 55%);
    --bg-red-hue-60: hsl(351, 84%, 60%);
    --bg-red-hue-65: hsl(351, 84%, 65%);
    --bg-red-hue-70: hsl(351, 84%, 70%);
    --bg-red-hue-75: hsl(351, 84%, 75%);
    --bg-red-hue-80: hsl(351, 84%, 80%);
    --bg-red-hue-85: hsl(351, 84%, 85%);
}
